# Convert SampleData.xlsx file into a csv file and save it in a CSV named folder in the current  directory.

In [1]:
import pandas as pd
import os

# Load the Excel file
df = pd.read_excel("SampleData.xlsx")

# Create a directory named 'CSV' if it doesn't exist
csv_folder = "CSV"
if not os.path.exists(csv_folder):
    os.makedirs(csv_folder)

# Save DataFrame to a CSV file in the 'CSV' folder
df.to_csv(os.path.join(csv_folder, "SampleData.csv"), index=False)

In [2]:
df

        Date   Region Representative    Item  Amount  Cost_per_Item
0 2019-01-23  Central         Kivell  Binder      50          19.99
1 2019-02-09  Central        Jardine  Pencil      36           4.99
2 2019-02-26  Central           Gill     Pen      27          19.99
3 2019-03-15     West        Sorvino  Pencil      56           2.99
4 2019-04-01     East          Jones  Binder      60           4.99
5 2019-04-18  Central        Andrews  Pencil      75           1.99
6 2019-05-05  Central        Jardine  Pencil      90           4.99
7 2019-05-22     West       Thompson  Pencil      32           1.99
8 2019-06-08     East          Jones  Binder      60           8.99
9 2019-06-25  Central         Morgan  Pencil      90           4.99

# : Convert the SampleData.xlsx file into a Binary Data file.

In [3]:
# Convert DataFrame to binary format
binary_data = df.to_pickle("SampleData.pkl")

In [6]:
df

        Date   Region Representative    Item  Amount  Cost_per_Item
0 2019-01-23  Central         Kivell  Binder      50          19.99
1 2019-02-09  Central        Jardine  Pencil      36           4.99
2 2019-02-26  Central           Gill     Pen      27          19.99
3 2019-03-15     West        Sorvino  Pencil      56           2.99
4 2019-04-01     East          Jones  Binder      60           4.99
5 2019-04-18  Central        Andrews  Pencil      75           1.99
6 2019-05-05  Central        Jardine  Pencil      90           4.99
7 2019-05-22     West       Thompson  Pencil      32           1.99
8 2019-06-08     East          Jones  Binder      60           8.99
9 2019-06-25  Central         Morgan  Pencil      90           4.99

# Convert the above file into an xlsx file.

In [ ]:
# Save DataFrame to an Excel file
df.to_excel("SampleData_converted.xlsx", index=False)

In [5]:
df

        Date   Region Representative    Item  Amount  Cost_per_Item
0 2019-01-23  Central         Kivell  Binder      50          19.99
1 2019-02-09  Central        Jardine  Pencil      36           4.99
2 2019-02-26  Central           Gill     Pen      27          19.99
3 2019-03-15     West        Sorvino  Pencil      56           2.99
4 2019-04-01     East          Jones  Binder      60           4.99
5 2019-04-18  Central        Andrews  Pencil      75           1.99
6 2019-05-05  Central        Jardine  Pencil      90           4.99
7 2019-05-22     West       Thompson  Pencil      32           1.99
8 2019-06-08     East          Jones  Binder      60           8.99
9 2019-06-25  Central         Morgan  Pencil      90           4.99